.side {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: inset -1px 0px 0px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 99px;
  background: #141417;
  padding: 24px; }
  .side .side-items-top .sidebar-items {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; }
  .side .bottom-side .sidebar-items-bottom {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; }

.forms {
  padding: 20px; }
  .forms .portrait img {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px; }
  .forms .name-email {
    padding: 10px; }
    .forms .name-email #fname {
      width: 100%;
      height: 45px;
      background: #22232B;
      border: 1px solid #34384C;
      box-sizing: border-box;
      border-radius: 4px;
      color: #FFFFFF; }
    .forms .name-email #email {
      width: 100%;
      height: 45px;
      background: #22232B;
      border: 1px solid #34384C;
      box-sizing: border-box;
      border-radius: 4px;
      color: #FFFFFF; }
    .forms .name-email .btn-wrapper {
      display: flex;
      justify-content: end; }
      .forms .name-email .btn-wrapper .btn {
        margin-top: 10px;
        color: #fff;
        background: blue; }
  .forms .pass {
    padding: 10px; }
    .forms .pass #psw {
      width: 100%;
      height: 45px;
      background: #22232B;
      border: 1px solid #34384C;
      box-sizing: border-box;
      border-radius: 4px;
      color: #FFFFFF; }
    .forms .pass #new-psw {
      width: 100%;
      height: 45px;
      background: #22232B;
      border: 1px solid #34384C;
      box-sizing: border-box;
      border-radius: 4px;
      color: #FFFFFF; }
    .forms .pass #con-psw {
      width: 100%;
      height: 45px;
      background: #22232B;
      border: 1px solid #34384C;
      box-sizing: border-box;
      border-radius: 4px;
      color: #FFFFFF; }
    .forms .pass .btn-wrapper {
      display: flex;
      justify-content: end; }
      .forms .pass .btn-wrapper .btn {
        margin-top: 10px;
        color: #fff;
        background: blue; }

.contact {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid lightgray; }
  .contact .contact-left {
    padding: 10px;
    margin-right: 60px; }
    .contact .contact-left div {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 30px;
      color: #9CA3AF; }
    .contact .contact-left p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF; }
  .contact .contact-right {
    padding: 10px; }
    .contact .contact-right .helper {
      margin-left: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px; }

.billing {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .billing .billing-left {
    padding: 10px; }
    .billing .billing-left div {
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 30px;
      color: #9CA3AF; }
    .billing .billing-left p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF; }
  .billing .billing-right {
    overflow-x: scroll;
    padding: 10px;
    width: 80%; }
    .billing .billing-right .first-row {
      min-width: 700px;
      height: 40px;
      background: #282933;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .billing .billing-right .first-row .first-row-items {
        width: 100%; }
    .billing .billing-right .second-row {
      min-width: 700px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .billing .billing-right .second-row .second-row-items {
        width: 100%; }
    .billing .billing-right .third-row {
      min-width: 700px;
      height: 40px;
      background: #282933;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .billing .billing-right .third-row .third-row-items {
        width: 100%; }

.container-wrapper .main {
  min-height: 100vh;
  color: #FFFFFF;
  margin-left: 99px;
  background: #1F2025;
  padding: 10px; }
  .container-wrapper .main .top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container-wrapper .main .top .settings {
      color: #ffffff;
      font-size: 22px; }
  .container-wrapper .main .acc {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    border-bottom: 1px solid lightgray; }
  .container-wrapper .main .payment {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    padding: 10px;
    color: #FFFFFF;
    border-bottom: 1px solid lightgray; }
