.container-wrapper .main {
  background: #1F2025;
  color: #FFFFFF;
  padding: 30px; }
  .container-wrapper .main .top {
    display: flex;
    justify-content: space-between; }
    .container-wrapper .main .top .sign-reg .sign-button {
      color: #FFFFFF;
      border: 1px solid lightgray;
      border-radius: 10px; }
    .container-wrapper .main .top .sign-reg .reg-button {
      color: #FFFFFF;
      background: #246CF9;
      border-radius: 10px; }
  .container-wrapper .main .middle {
    padding: 50px;
    width: 100%;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: center; }
    .container-wrapper .main .middle .flex-row {
      display: flex;
      align-items: center;
      height: 50px;
      margin-left: 350px;
      max-width: 60%; }
      .container-wrapper .main .middle .flex-row .items {
        width: 100%;
        font-size: 16px;
        line-height: 22px;
        padding: 10px; }
        .container-wrapper .main .middle .flex-row .items .features {
          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 110%; }
        .container-wrapper .main .middle .flex-row .items .web-based {
          font-weight: normal;
          font-size: 16px;
          line-height: 130%;
          color: rgba(255, 255, 255, 0.75); }
