@import "variables";
//components
@import "components/side";
@import "components/forms";
@import "components/contact";
@import "components/billing";
body{
}
.container-wrapper {
  .main {
    min-height: 100vh;
    color: #FFFFFF;
    margin-left: 99px;
    background: #1F2025;
    padding: 10px;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .settings {
        color: #ffffff;
        font-size: 22px;
      }
    }
    .acc {
      margin-top: 20px;
      padding-bottom: 10px;
      font-size: 22px;
      line-height: 30px;
      color: #FFFFFF;
      border-bottom: 1px solid lightgray;
    }
    .payment{
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      padding: 10px;
      color: #FFFFFF;
      border-bottom: 1px solid lightgray;
    }
  }
}
