@import "components/side";
@import "components/car";
.container-wrapper{
.main{
  margin-left: 99px;
  background: #1F2025;
  color: #FFFFFF;
  padding: 20px;
  height: auto;
  .main-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main-top-left{
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 30px;
    }
    img{

    }
  }
  .main-search{
    text-align: center;
    margin-bottom: 100px;
  }
  .main-search input{
    padding: 5px;
    background: #1D4ED8;
    border-radius: 8px;
    border: none;
    width: 700px;
    height: 60px;
    color: #FFFFFF;
    border: none;
  }
  ::placeholder{
    color: #FFFFFF;
  }
  .main-select{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 50px;
    .select-items select{
      min-width: 250px;
      width: 100%;
      color: white;
      background: #1F2025;
      height: 44px;
      border-radius: 8px;
      border: 1px solid #575555;

    }
    #birthday{
      min-width: 250px;
      width: 100%;
      color: white;
      background: #1F2025;
      height: 44px;
      border-radius: 8px;
      border: 1px solid #575555;
    }
  }
  .main-middle{
    padding: 20px;

    .main-middle-left{
      .car{
        padding: 10px;
      }
    }
    .main-middle-right{
      .car{
        padding: 10px;
      }
    }
  }
}
}