.car{
  background: #1F2025;
  display: flex;
  .img img{
    width: 170px;
    height: 150px;
    object-fit: cover;
  }
  .text{
    padding: 10px;
    p{
      font-size: 12px;
    }
    h5{
      font-size: 14px;
    }
    .read-more{
      color: #FFFFFF;
      background: #1F2025;
      border: none;
    }
  }
}